p {
    margin-top: 10%;
    font-size: large;
}

input {
    float: right;
    justify-content: right;
    margin-right: 5%;
    width: 300px;
    height: 35px;
}

.home {
    font-size: 20px;
    margin-top: 150px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}