p {
    margin-top: 10%;
    font-size: large;
}

input {
    width: 300px;
    height: 35px;
    margin-right: 100px;
}

.home {
    font-size: 20px;
    margin-top: 150px;
}

.container{
    columns: 4 auto;
    margin: 5%;
}