p {
    font-size: small;
    margin-right: 100px;
    color: rgb(255, 182, 45);
}

input {
    width: 300px;
    height: 35px;
    margin-right: 100px;
}

.home {
    font-size: 20px;
    margin-top: 150px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}