.product img {
    float: fixed;
    width:  360px;
    height: 300px;
    margin: 30px;
    margin-top: 110px;
    margin-bottom: 110px;
    box-shadow: 5px 5px rgb(255, 182, 45);
}

.product .text-block {
    position: absolute;
    font-size: large;
    bottom: 30px;
    right: 100px;
    color: white;
    letter-spacing: 0.1em;
    cursor: pointer;
}


.product { filter: grayscale(70%); }
.product:hover {filter:grayscale(0);}
.product img:hover {filter:hue-rotate(0deg);}
