.header {
    overflow: hidden;
    background-color: rgb(255, 182, 45);
    position: absolute; 
    top: 0;
    width: 100%;
}

.header .link {
    float: left;
    display: block;
    color: #282c34;
    text-align: center;
    font-size: xx-large;
    padding: 14px 16px;
    text-decoration: none;
}
  
.header .link:hover {
    color: #fff;
}

.shopping {
    float: right;
    margin: 1%;
}

.shopping span {
    font-size: xx-large;
}