.detail{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    padding: 10%;
}

.detail img {
    width:  360px;
    height: 600px;
    box-shadow: 5px 5px rgb(255, 182, 45);
}

.detail ul {
    margin: 50px;
    text-align: left;
}

.detail .column-right {
    border-left: 1px solid rgb(255, 182, 45);
    border-top: 1px solid rgb(255, 182, 45);
    margin: 0;
    margin-left: 5%;
    list-style-type: none;
    font-size: x-large;
    float: right;
}

.column-right{
    text-align: right;
}

select {
    height: 50px;
    width: 200px;
    font-size: large;
}

button {
    height: 50px;
    font-size: large;
    margin-top: 20px;
    width: 100px;
}

